
:root {
  --dark: black;
  --light: #fff;
  --navlink-color: white;
  --darkgrey: rgba(169, 169, 169, 0.418);
  --lightgrey: lightgray;
}

#logo{
  width: 14%;
  min-width: 100px;
  height: auto;
}

header a{
  color: var(--light);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color:#804088;
  color: var(--light);
}

.aboutlafrontera{
  background-color: lightgray;

}

.aboutlafronteratext{
  background-color: lightgray;
  padding-top: 50px;

}

/* this position is absolute */


#jobs{
  flex-direction:row ;
  justify-content: space-between;
  padding: 30px;
  font-family:Arial, Helvetica, sans-serif ;
  
}

#bottomlinks{
  flex-direction:row ;
  justify-content: space-between;
  font-family:Arial, Helvetica, sans-serif ;
  
}
  
#blog1, #blog2,#blog3{
  flex-direction:row ;
 justify-content: space-between;
  padding: 0px 30px 20px 30px;
  font-family:Arial, Helvetica, sans-serif ;
}



.mainnews {
  display: flex;
  justify-content:space-evenly
}





#mainnnewsphoto{
  width: 2000px;
}

.mainsnewscolumn{
    padding-left: 50px;
}






#photo1{
  background-color: lightgrey;  
  padding-top: 50px;  
  max-width: 300px;
  max-height: 300px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: rgb(228, 149, 47); 
  color: white;  
}

.button2:hover {
  background-color: rgb(228, 149, 47); 
  color: white;  
  color: black; 

}



#importantlinks{
  display: flex;
}

#toplinks {
  margin: 20px;
}

#secondlinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
  background-color: #dfaae3;
  color: var(--dark);
  margin: 0;
  
}

.services2 i {
  font-size: 80px;
  /* color: red; */
}

#secondlinks a{
  color:(var(--dark));
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 0;
  font-size: 250%;
}

a[href*='.css']::after {
  content: '📝';
  display: inline-block;
  margin-left: 3px;
}

nav.sticky{
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  background-color: unset;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: hotpink;
  
  
}



.servicestitle2{
  color: black;
  padding: 30px 30px 0px;
  background-color: lightgray;
} 






.services3 {
  /* background-image: url(./images/QTLongSunset.jpeg); */
  background-size: cover;
  text-align: center;
  flex: auto;
  background-color: lightgray;
  display: flex;
}

main {
  display: flex;
  flex: 1 1 0;
  max-width: 96%;
}

article {
  border-bottom: 1px solid var(--dark);
}

article p {
  margin: 2% 0;
  font-size: 110%;
}

article ul {
  margin-left: 5%;
  font-size: 110%;
  list-style: circle;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: var(--dark);
  color: var(--light);
}


/* here is the double coloumn shit  */

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left h3{
  color: #f37738;
}


.left {
  width: 60%;
  background-color:#696969;
  font-family:Arial, Helvetica, sans-serif ;
  padding-left: 50px
}

/* .text-right {
  display: inline-flex;
} */

.column events {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.container {
  display: inline-flex;
}

.month{
background-color:#f37738
}

#jobs a{
  text-decoration: none;
}



.text-right{
  display: flex;
flex-direction:column
}

.list-inline-item{
  display: inline-flex;
}

.list-inline{
  padding-left: 0px;
}

.display-4 {
  background-color: white;
  margin:0px;
  text-align: center;
}



.row1{
  display: inline-flex;
}



.col-10{
  width:225px;
  padding-left: 15px;
}

.text-right{
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1px;
}



.row-striped {
    padding: 15px 0;
}

.right {
  width: 40%;
  font-family:Arial, Helvetica, sans-serif ;
  background-color: #696969;
  font-weight: 300;

}

.row h2 {
  font-family:Arial, Helvetica, sans-serif ;
  color: white;
}

.row h4 {
  font-family:Arial, Helvetica, sans-serif ;
  color: white;
}

.month{
  font-size: 20px;
  padding-left: 15px;
  padding-right:15px;
  padding-top: 10px;
  padding-bottom: 5px;
}



.right h3 {
  font-family:Arial, Helvetica, sans-serif ;
  color: #f37738;
}

.right a{
  text-decoration: none;
}

.right p {
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#topborder{
position: relative;
background-color: #ffef13e7;
height: 15px;
float: left;
width: 100%;
display: block;
margin: auto;
display: flex;

}

#topborder .color1{
  width: 14.893617%;
  background-color: #804088;
}

#topborder .color2{
  width: 17.0212765%;
  background-color: #d11111;
}

#topborder .color3{
width: 10.6382978%;
background-color: #f37738;
}

#topborder .color4{
  width: 6.38297872%;
  background-color: #ffd726;
}



.links1{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: lightgray;
}

.links1 button{
  background-color: lightgray;
  border: none;
}

#bottommenu{
  display: flex;
  justify-content:space-evenly;
  width: 100%;}

#endlogo{
  color: black;
  padding-left: 50px;
  background-color: lightgray;
  max-width: 400px;
  padding-right: 40px;
  font-size: 12pt;
}

.bottommenulist {
  /* background-image: url(./images/QTLongSunset.jpeg); */
  background-size: cover;
  flex: auto;
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;

  align-items: flex-end;
  justify-content: space-around;
  color: #f37738;
  font-family:Arial, Helvetica, sans-serif ;

}

.bottommenulist a {
  color:#f37738;
}
.links1{
  margin: 0px;
  padding-top: 10px;
  
}

.linkrow{
  display: flex;
  flex-direction:row-reverse
}

.linkrow img{
  max-width: 50px;
  filter: grayscale(100%);
  border:none;
  background-color:lightgrey;
  flex-direction:row-reverse
}

.footer{
  justify-content: space-around;
  display:flex;
  color: #f37738;

}

.footer a {
  color: #f37738;
  text-decoration: none;

}

/* Below is the bootstrap I added for the Calender */


#bottomlinks a{
  text-decoration: none;
}



@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  main {
    max-width: 1200px;
  }
}




.links {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  color:black;
}





  .introduction{
    display: flex;
    line-height: 1.3;
    background-color: lightgray;

}

  .introduction img{
    width: 20%;
    margin-right: 10px;
    object-fit: cover;
    
 }

  .services2 {
    background-image: url("./images/QTLongSunset.jpeg");
    background-size: cover !important;
    text-align: center;
    flex: auto;  
    max-width: 100% !important;  
    display:flex;
    color: black;
    padding: 100px;
    text-align: center;
    justify-content: center;
  }
  
  
.blogcontent {
    background-image: url("./images/QTLongSunset.jpeg");
    background-size: cover;
    text-align: center;
    flex: auto;  
  }

  
  .servicestitle{
    margin-bottom: 0;
    } 





  .services2 section{
    background-color: rgba(255,255,255,0.50);
    /* margin: 5px; */
    /* padding: 80px; */
    display:flex;
}






  .Portfolio {
    padding: 0px 40px 10px;
  }

  .Portfolio p{
    margin:0;
    transform: translateY(-60%);
  
  }

  .Portfolio a{
    width:  20%;
    padding: 15px;
    display: inline-block;
    vertical-align: top ;
    color:black;
    text-decoration: none;
  }

  .Portfolio a:hover img{ 
    filter: blur(2px);
  }

  @media screen and (max-width:600px){
    .Portfolio a{
      width:100%;
    }
  }

  .portfoliotitle{
    text-align: center;
    color: black;
  }

  .mywork{
    text-align: center;
    color: white;
    padding: 2%
  }

  .position-relative{
    position:relative;
    
  }

  .position-relative p {
    margin:0;
    transform: translateY(-180%);
    color: white;
  
  }

  .portfolio_item{
    align-items: flex-end ;
    height: 180 px;
   
  }

  .wrapper{
    left: 50%;
    top: 50%;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  }
  .wrapper .top{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f37738;
    height: 140px;
    position: relative;
    border-radius: 12px 12px 0 0;
  }
  .wrapper .top::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #fff36d;
    bottom: -10px;
    transform: rotate(45deg);
  }
  .wrapper .top i{
    font-size: 70px;
    color: #ccc;
  }
  .wrapper .bottom{
    padding: 30px;
    word-spacing: -1px;
  }
  .wrapper .bottom .info{
    font-size: 20px;
    font-weight: 500;
  }
  .wrapper .bottom .input-box{
    height: 45px;
    margin: 15px 0 10px 0;
  }
  .wrapper form .input-box input{
    height: 100%;
    width: 100%;
    padding-left: 14px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    transition: all 0.4s ease;
  
  }
  
  .wrapper .bottom input[type="text"]{
    border: 2px solid #ccc;
  }
  .wrapper .bottom input[type="text"]:focus,
  .wrapper .bottom input[type="text"]:valid{
    border-color: gray;
  }
  .wrapper .bottom input[type="submit"]{
    border: none;
    cursor: pointer;
    background: gray;
    color: #fff;
    letter-spacing: 1px;
  }
  .wrapper .bottom input[type="submit"]:hover{
    background: black;
  }

  .wrapper .bottom .footer{
    font-size: 16px;
    margin-top: 12px;
  }


  

  img{
    max-width: 100%;
  }

  .mywork img{
    max-width: 75%;
  }


  
  .camp{
    width: 300px;
    height: 200px;
  }

  .linkedin{
    width: 25px;
    height: 18px;
  }

  #jobs, #bottomlinks, #blog1, #blog2, #blog3{
    flex-direction: column;

  }

  @media screen and (max-width:400px){
    .services2{
      display: block;
    }
  }

